body {
    /* background-color: rgb(79, 83, 84); */
    margin: 0px;
    padding: 0px;
}

#conteiner {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    height: 100%;
    align-items: center;
    text-align: center;
}

fieldset {
    height: auto;
    width: auto;
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
}

#lname,
#fname {
    width: 25em;
    padding: 5px;
    border-radius: 5%;
}

#email,
#gender {
    width: 28em;
    padding: 5px;
    border-radius: 5%;
}

#password,
#password1,
#password2,
#current-destination,
#new-destination {
    width: 20em;
    padding: 5px;
    border-radius: 5%;
}

#password-sigin {
    width: 26em;
    padding: 5px;
    border-radius: 5%;
}

#sign-in,
#rest {
    background-color: brown;
    width: 15em;
    padding: 16px;
    border-radius: 45%;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: yellow;
}

#sign-in:hover {
    background-color: rgb(3, 110, 26);
    color: white;
}

#rest:hover {
    background-color: rgb(3, 110, 26);
    color: white;
}

#link {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#link a {
    text-decoration: none;
    color: black;
}

#link a:hover {
    color: brown;
    cursor: pointer;
}

#feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: large;
}

/* parcel order css */
#create-order {
    display: flex;
    justify-content: space-between;
    height: auto;

}

#conteine-create-order {
    /* background-color: aqua; */
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    height: auto;
}

#input {
    /* background-color: blue; */
    width: 50%;
    margin-left: 30px;
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}

#feedback-parcel {
    /* background-color: blueviolet; */
    width: 50%;
    display: flex;
    margin-left: 20px;
    margin-right: 30px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    align-items: center;
}

#titel {
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#create,
#change {
    background-color: brown;
    width: 15em;
    padding: 16px;
    border-radius: 45%;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: yellow;
    align-items: center;
    text-align: center;
}

#crateparicer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;

}

#create,
#change:hover {
    background-color: rgb(3, 110, 26);
    color: white;
}

#productName {
    width: 26em;
    padding: 5px;
    border-radius: 5%;
}

#price {
    width: 32em;
    padding: 5px;
    border-radius: 5%;
}

#pickup-location {
    width: 25.3em;
    padding: 5px;
    border-radius: 5%;
}

#destination {
    width: 27.5em;
    padding: 5px;
    border-radius: 5%;
}

#phonenumber {
    width: 20em;
    padding: 5px;
    border-radius: 5%;
}

#createdat {
    width: 27.5em;
    padding: 5px;
    border-radius: 5%;
}

#details {
    /* background-color: aqua; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    margin: 30px;
    margin-left: 15em;
    width: auto;
    height: auto;
}

#details p {
    /* background-color: blueviolet; */
    width: auto;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: larger;
}

#cancer-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancel1,
#confirm1 {
    background-color: brown;
    width: 15em;
    padding: 16px;
    border-radius: 45%;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: yellow;
    align-items: center;
    text-align: center;
    margin: 30px;
}

#cancel1:hover {
    background-color: rgb(3, 110, 26);
    color: white;
}

#confirm1:hover {
    background-color: rgb(3, 110, 26);
    color: white;
}

#cancel,
#confirm p {
    /* background-color: blueviolet; */
    width: auto;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: larger;
}

#details-all {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    margin: 30px;
    width: auto;
    height: auto;
}

#profile {
    /* background-color: aqua; */
    width: auto;
    height: auto;
    margin: 30px;
    align-items: center;
    margin-left: 5%;
}

#userInfo {
    /* background-color: rgb(208, 208, 227); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

#productInfo {
    /* background-color: brown; */
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

/* home page disign */
#header-section {
    padding: 20px;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#links a {
    justify-content: space-between;
    margin: 20px;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-right: 30px;
    color: rgb(16, 13, 15);
}

#links a:hover {
    color: rgb(181, 8, 129);
}

#logo {
    margin-left: 30px;
    height: 6em;
    display: flex;
    border-radius: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#menu_list img {
    margin-left: 30px;
    height: 3em;
    display: none;
}

#logo img {
    border-radius: 25%;
}

#body-section {
    height: auto;
    text-align: center;
    justify-content: center;
}

#pragraphs {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    font-size: larger;
    padding: 15%;
}

footer {
    background-color: rgb(24, 26, 26);
    color: aliceblue;
    height: 30vh;
}

#footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer-section h2 {
    color: yellow;
}

ul li {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#copy {
    text-align: end;
    margin: 30px;
}


/* 
making my web responsive */

@media screen and (max-width: 800px) {
    #header-section {
        background-color: aquamarine;
        width: auto;
        display: block;
        height: auto;
        font-size: medium;
        font-weight: 200;
    }

    #logo {
        align-items: center;
        width: 100%;
        margin: 0px;
        justify-content: space-between;
    }

    #logo img {
        height: 5em;
        display: flex;
        width: 5em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #doit {
        font-size: small;
        font-weight: 300;
    }

    #links a {

        display: none;
        text-align: end;

    }

    #menu_list img {
        height: 2em;
        display: flex;
        width: 3em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #body-section {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        display: block;
    }

    #details-all {
        width: auto;
        font-size: smaller;
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;

    }

    h1 {
        font-size: larger;
    }

    #details-all h2 {
        font-size: smaller;
        display: flex;
        justify-content: space-between;
    }

    #body-section h1 {
        font-size: larger;
    }

    #pragraphs {
        width: 100%;
        height: auto;
        margin: 10px;
        padding: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    footer {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #footer-section {
        display: block;
        margin: 10px;
    }

    #footer-section h2 {
        font-size: larger;
        color: yellow;
    }

    #conteiner {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: block;
        justify-content: center;
        align-items: center;

    }

    #form {
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-size: large;
    }

    #conteiner h2 {
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #change-destination-feedback {
        font-size: 0.8em;
        font-weight: 100;
    }

    #conteine-create-order {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    #conteine-create-order h2 {
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #create-order {
        display: block;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    #productName,
    #phonenumber {
        width: 20em;
        padding: 0px;
        border-radius: 5%;
    }

    #price,
    #createdat {
        width: 20em;
        padding: 0px;
        border-radius: 5%;
    }

    #pickup-location,
    #destination {
        width: 20em;
        padding: 0px;
        border-radius: 5%;
    }

    #feedback-parcel-order {
        font-size: large;
        padding: 0px;
        margin: 0px;


    }

    #feedback-parcel {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    #details {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: small;
    }

    #details h2 {
        font-size: large;
    }

    #cancel1,
    #confirm1 {
        height: 2vh;
        width: 10vh;
        display: flex;
        justify-content: center;
        font-size: small;
        padding: 5px;
        border-radius: 25%;
    }

    #cancer-order {
        display: flex;
        justify-content: space-around;
    }

    #fname,
    #lname,
    #gender,
    #email,
    #password1,
    #password2 {
        width: auto;
    }

    fieldset {
        padding: 0px;
        margin: 0px;
    }
}